
<p>All comments here</p>

{{#each model.comments as |comment|}}
<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">{{comment.username}}</h4>
  </div>
  <div class="panel-body">
    {{comment.text}}
  </div>
</div>
{{update-comment comment=model.comments updateComment="updateComment"}}
{{/each}}
