<h2>Posts</h2>

<ul class="list-group">
  {{#each model as |post|}}
    <li class="list-group-item">{{#link-to 'post' post.id}}{{post.title}} - by {{post.username}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-post savePost="savePost"}}
